<div class="windowsSize">
  <app-intro-image></app-intro-image>
  <div class="px-5">
    <div class="mt-10">
      <p class="home-section-title">Nike shoes</p>
      <app-product-list-horizontal-slider brand="nike">
      </app-product-list-horizontal-slider>
    </div>
    <div class="mt-16">
      <app-grid-image></app-grid-image>
    </div>
    <div class="mt-16">
      <p class="home-section-title">Adidas shoes</p>
      <app-product-list-horizontal-slider brand="adidas">
      </app-product-list-horizontal-slider>
    </div>
    <div class="mt-16">
      <app-center-big-image></app-center-big-image>
    </div>
    <div class="mt-16">
      <p class="home-section-title">Others shoes</p>
      <app-product-list-horizontal-slider brand="other">
      </app-product-list-horizontal-slider>
    </div>
    <div class="mt-16 mb-40">
      <app-two-image-row></app-two-image-row>
    </div>
  </div>
</div>
