.mega-menu-img-wrapper {
  @apply w-full md:w-72 h-36 mt-2;
}
.mega-menu-img {
  @apply object-cover w-full h-full;
}

.mega-menu {
  @apply bg-white flex opacity-0 p-0 shadow-lg overflow-hidden gap-8 absolute;
  right: -205px;
  transform: scale(1, 0);
  transform-origin: top;
  transition-property: transform, padding, opacity;
  transition-duration: 0.5s;
}
.mega-menu-wrapper:hover .mega-menu {
  padding: 20px;
  opacity: 1;
  transform: scale(1, 1);
  transform-origin: top;
  transition-property: transform, padding, opacity;
  transition-duration: 0.5s;
}
.mega-menu-title {
  @apply font-bold;
}
.mega-menu-item-wrapper {
  @apply text-gray-500 space-y-1 mt-1;
}
.mega-menu-item {
  @apply border-white border-b cursor-pointer hover:border-gray-200;
}

@media (max-width: 767px) {
  .mega-menu {
    @apply shadow-none p-0 opacity-100 right-0 left-0  flex-col relative;
    transform: scale(1, 1);
  }
}
