.login-overlay {
  @apply bg-black bg-opacity-20 fixed z-40 top-0 w-full flex justify-center items-center h-full;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
}
.login-wrapper {
  @apply bg-white shadow-2xl w-96 px-10 py-6 text-center;
}
.show-login-popup {
  opacity: 1;
  pointer-events: all;
  transition: all 0.5s;
}
.toggle-login-signin {
  @apply text-xs text-gray-500 mt-2 cursor-pointer;
}
