<footer class="footer-container">
  <div class="footer-top-section-wrapper flex-col md:flex-row windowsSize">
    <h1 class="footer-brand">SNKR</h1>
    <div class="flex-1 flex flex-col md:flex-row gap-10">
      <section class="text-2xs text-gray-400 space-y-1">
        <p class="font-bold text-white">HELP</p>
        <p class="footer-section-item">Help & Customer Service</p>
        <p class="footer-section-item">Contact Us</p>
        <p class="footer-section-item">Returns & Exchanges</p>
        <p class="footer-section-item">Ordering & Payments</p>
      </section>
      <section class="text-2xs text-gray-400 space-y-1">
        <p class="font-bold text-white">ABOUT SNKR</p>
        <p class="footer-section-item">News</p>
        <p class="footer-section-item">Careers</p>
        <p class="footer-section-item">Sustainable development</p>
      </section>
    </div>
    <section class="flex items-start md:items-end flex-col gap-4">
      <a
        href="https://www.facebook.com/"
        target="_blank"
        rel="noopener"
        class="
          flex flex-row-reverse
          md:flex-row
          items-center
          gap-4
          cursor-pointer
        "
      >
        <p class="font-semibold text-xs">FACEBOOK</p>
        <div class="footer-social-media-icon">
          <img
            src="assets/facebook_black.svg"
            alt="facebook logo"
            width="18"
            height="18"
          />
        </div>
      </a>
      <a
        href="https://www.instagram.com/"
        target="_blank"
        rel="noopener"
        class="flex flex-row-reverse md:flex-row items-center gap-4"
      >
        <p class="font-semibold text-xs">INSTAGRAM</p>
        <div class="footer-social-media-icon">
          <img
            src="assets/instagram_black.svg"
            width="18"
            height="18"
            alt="instagram logo"
          />
        </div>
      </a>
    </section>
  </div>
  <section class="footer-bottom-section-wrapper windowsSize">
    <div class="flex flex-col-reverse md:flex-row gap-1 md:gap-4">
      <div class="flex gap-1">
        <img
          src="assets/pin_black.svg"
          width="14"
          height="14"
          alt="map marker"
        />
        <p class="text-black">Canada</p>
      </div>
      <p>© 2020 SNKR, Inc Copyright</p>
    </div>
    <div class="flex gap-1 md:gap-4 flex-none flex-col md:flex-row">
      <p class="hover:text-black cursor-pointer">Privacy and Cookie Policy</p>
      <p class="hover:text-black cursor-pointer">Cookie settings</p>
    </div>
  </section>
</footer>
