<div class="checkout-container">
  <div class="checkout-wrapper">
    <div
      *ngIf="
        bagProduct && bagProduct.length > 0;
        then productFoundInBag;
        else noProductFoundInBag
      "
    ></div>
  </div>
  <ng-template #productFoundInBag>
    <div>
      <router-outlet></router-outlet>
    </div>
    <app-order-details></app-order-details>
  </ng-template>
  <ng-template #noProductFoundInBag>
    <div class="w-full px-5"><app-empty-product></app-empty-product></div>
  </ng-template>
</div>
